.product {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    transition: transform 0.3s ease;
    text-align: right; 
    overflow: hidden; 
    width: 250px;
    /* height: 300px; */
}

.product img {
    /* width: 80%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    object-fit: cover;  */

    object-fit: cover;
    max-width: 140px;
    height: auto;
    max-height: 150px;
    margin: 1em;
    align-self: center;
}

.product h2 {
    font-size: 1.1em; 
    /* margin: 0em 0em 1em 0em;  */
    color: #333; 
}

.product p {
    font-size: 1em;
    color: #e67e22; 
    margin: 0; 
    text-align: left;
}